doctype html
html(lang='en')
  head
    title title Simple site using Node.js, Express and Pug
    link(rel='stylesheet',href="/css/style.css")
    block styles
    script(src="js/script.js")
    block scripts
  body
    block content 
      