extends ./layout.pug
block content
    h2 Superhero Details Page
    h3 Superhero Name:
    h4= superhero.name
    h3 Description:
    h4= superhero.description
    //- h3 Fav Season:
    //- h4= superhero.fav_season 
    h3 Fav Color:
    h4= superhero.fav_color
    a(href="/") Home
